body{
    background-color:#E8F6F3"
}

.foto{
    text-align: right;
    margin: 5px 125px 25px 20px;
}

.nombre{
    margin: 5px 0px 2px 375px; 
    font-size: 35px;
}

.profesion{
    margin: 5px 0px 2px 370px; 
    font-size: 27px;
}

.titulo{
    color:black;
    font-size: 45px; 
    font-weight: 400; 
    text-align: center; 
    background: #A3E4D7; 
    margin: 10px 80px 30px 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 35px 35px 0px; 
    -moz-border-radius: 35px 35px 35px 0px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
}


.descripcion{ 
    font:"Comic Sans,arial";
    color:black; 
    font-size: 22px; 
    font-weight: 400;  
    background: #A3E4D7; 
    margin: 10px 500px 50px 50px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
}

.educacion{
    margin: 50px 0px 0px 70px;
    font-size: 22px; 

}

.contacto{
    margin: 25px 100px 2px 70px;
    font-size: 22px; 
}

.aficiones{
    margin: 25px 100px 200px 80px;
    font-size: 22px; 
}

.experiencia{
    margin: 25px 100px 2px 70px;
    font-size: 22px;
}

.proyectos{
    margin: 80px 200px 0px 0px;
    font-size: 25px;
    color:black; 
    font-weight: 400; 
    text-align: center; 
    background: #A3E4D7;  
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 35px 35px 0px; 
    -moz-border-radius: 35px 35px 35px 0px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
}

/* margin: 10px 5px 15px 20px;
top margin is 10px.
right margin is 5px.
bottom margin is 15px.
left margin is 20px. */

.skills{
    margin: 80px 200px 0px 0px;
    font-size: 22px;
}
    
.barraVertical{
    width:"9";
    size:"200"
}

.aficiones1{
    margin: 80px 200px 0px 0px;
    font-size: 25px;
    color:black; 
    font-weight: 400; 
    text-align: center; 
    background: #A3E4D7;  
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 35px 35px 0px; 
    -moz-border-radius: 35px 35px 35px 0px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
}

.contenido{
    margin: 80px 200px 0px 0px;
    font-size: 18px;
    color:black; 
    font-weight: 400; 
    text-align: center; 
    background: #A3E4D7;  
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 35px 35px 0px; 
    -moz-border-radius: 35px 35px 35px 0px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
}